a{
    text-decoration: none;
    color: grey;
}
a:hover{
    color: black;
}

.text-bold{
    font-weight: bold;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.floating-btn {
    background-color: #00ff00;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30% 0;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.floating-btn:hover {
    background-color: #0056b3;
}
